body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-size: 8rem;
}

p {
  color: white;
  font-size: 4rem;
}

/* .top-section {
  padding-top: 5%;
} */

.div {
  padding-top: 50px;
  padding-bottom: 50px;
}

.picture {
  max-width: 200px;
}
