body {
  background-color: black;
  margin: 0 20% 0 20%;
  text-align: center;
}

h1 {
  color: white;
  font-size: 5vw;
}

p {
  color: white;
  font-size: 4.5vw;
}

/* .top-section {
  padding-top: 5%;
} */

.div {
  padding-top: 12%;
  padding-bottom: 12%;
}

.picture {
  max-width: 30%;
}
